body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  --screen-size: 300px;
  --track-width: 300px;
  --track-length: 750px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  color: #23643c;
}

* {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  box-sizing: border-box;
}

#container {
  width: 100%;
  max-width: var(--screen-size);
  margin: 0 auto;
  display: block;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.option {
  display: flex;
  align-items: center;
  gap: 10px;
}

.option label {
  text-align: right;
}

.option input {
  width: 150px;
}

#screen {
  width: var(--screen-size);
  height: var(--screen-size);
  position: relative;
  margin: 0 auto;
  perspective-origin: 140% -70%;
  perspective: 600px;
}

body.debug #screen {
  border: 1px dashed black;
}

#screen * {
  position: absolute;
}

#scene {
  position: absolute;
  transform: translate3d(0px, 550px, calc(-1 * var(--screen-size)));
  transform-style: preserve-3d;
}

#start {
  width: var(--track-width);
  height: 100px;
  transform: translate3d(-50%, -100%, calc(-1 * var(--track-length)));
}

body.debug #start {
  border: 1px solid black;
  background: hsla(120, 100%, 50%, 0.2);
}

#goal {
  width: var(--track-width);
  height: 300px;
  transform: translate3d(-50%, -100%, 0);
  background: url(./img/flag.png) center no-repeat;
  background-position-y: 100%;
  background-size: 100% auto;
  opacity: 0.5;
}

body.debug #goal {
  background: hsla(0, 100%, 50%, 0.2);
  border: 1px solid black;
}

#road {
  width: var(--track-width);
  height: var(--track-length);
  background: url(./img/racetrack.jpg) center no-repeat;
  background-size: 100% 100%;
  transform: rotateX(90deg) translate3d(-50%, 0, var(--track-length));
  transform-origin: bottom;
}

.img {
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -40px;
}

#trackers {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.tracker {
  width: var(--track-width);
  outline: 1px solid #ddd;
  overflow: hidden;
  border: 3px solid white;
}

.subtracker {
  width: 100%;
  height: 20px;
  display: block;
  transform: translate(-100%);
  font-size: 10px;
  color: white;
  text-align: right;
  padding-right: 0.5rem;
  line-height: 20px;
}

#winner {
  text-align: center;
}

#start-button {
  line-height: 30px;
  padding: 0 1em;
  background-color: #eadc7a;
  border: 1px solid #999;
  display: none;
  color: #23643c;
  font-size: 16px;
  font-weight: bold;
}

#start-button.active {
  display: block;
}

#options {
  display: none;
}

#options.active {
  display: block;
}
